services:
  openrepo:
    build: .
    ports:
      - "3000:3000"
      - "4000-4099:4000-4099"
    volumes:
      - db:/usr/src/app/data/db
      - sessions:/usr/src/app/data/sessions
    environment:
      - SQLITE_FILE=/usr/src/app/data/db/openrepo.db
      - SESSIONS_DIR=/usr/src/app/data/sessions
      - COOKIE_SECRET=${COOKIE_SECRET}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
    restart: unless-stopped

volumes:
  db:
  sessions:
